.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
__pycache__/
*.pyc
.venv/
audio-screen*.png
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
.service-update-backup-*/
